@font-face {
  font-family: Cormorant;
  src: url("./CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Manrope;
  src: url("./Manrope.ttf") format("truetype");
}